<!DOCTYPE html>
<html lang='pt-BR'>
    <head>
        <meta charset='UTF-8'>
        <title>RPG</title>

        <link href='https://fonts.googleapis.com/css2?family=Cinzel:wght@500;700&family=Inter:wght@300;400;500&display=swap' rel='stylesheet'>
        <link rel='stylesheet' href='{{ url_for("static", filename="styles/home.css") }}'>
        <script src="{{ url_for('static', filename='scripts/home.js') }}"></script>
    </head>

    <body>
        <div class='tittle'>
            <h1>RPG</h1>
            <p>Sistema de gerenciamento do mundo, personagens, campanhas e criaturas.</p>
            <h2>📜 Campanhas</h2>
            <p>Qual campanha vamos jogar hoje?</p>
        </div>

        <div class='btn-criar-campanha'>
            <button onclick='abrirModal()' title="Criar nova campanha">Nova campanha</button>
        </div>

        <div id='modal-campanha' class='modal'>
            <div class='conteudo-modal'>
                <h2>Nova Campanha</h2>
                <input type='text' id='nome' placeholder='Nome da campanha'>
                <textarea id='descricao' placeholder='Descrição'></textarea>
                <button onclick='salvarCampanha()'>Criar</button>
                <button onclick='fecharModal()'>Cancelar</button>
            </div>
        </div>

        <div class='cards'>
            {% for campanha in campanhas %}
                <a class='card' href='{{ url_for("home", campanha_id=campanha.id) }}'>
                    <h2>{{campanha.nome}}</h2>
                    <p>{{campanha.descricao}}</p>
                    <span>Mestre: {{campanha.mestre}}</span>
                </a>
            {% endfor %}
        </div>
    </body>
</html>