body{
    font-family:'Inter',sans-serif;
    background:#0f1117;
    color:white;
    min-height:100vh;
    padding:40px;
    margin:0;
    box-sizing:border-box;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

nav{
    width: 100%;
}

.conteiner-pag{
    display: flex;
    width: 68%;
    flex-direction: column;
}

.btn-voltar{
    display: inline-table;
    padding: 8px;
    color: #b5b5b5;
    background: #1b1f2b;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    border: 1px solid #2b3244;
    cursor: pointer;
    transition: .25s;
    width: auto;
    height: auto;
}

.btn-voltar:hover{
    transform:translateY(-2px);
    border-color:#d9b96f;
    box-shadow:0 15px 30px rgba(0,0,0,.4);
    color: white;
}

.tittle{
    text-align:center;
}

.tittle h1{
    font-family:'Cinzel',serif;
    font-size:64px;
    letter-spacing:4px;
    margin-bottom:15px;
    color:#d9b96f;
    margin-top: 10px;
}

.tittle h2{
    font-family:'Cinzel',serif;
    font-size:34px;
    letter-spacing:4px;
    margin-bottom:15px;
    color:#d9b96f;
}

/*ÍCONES DO GOOGLE*/
.material-symbols-outlined {
    font-size: 27px;
    font-variation-settings:
        'FILL' 0,
        'wght' 350,
        'GRAD' 0,
        'opsz' 24
}

/*TOAST DE ERRO*/
#toast-erro {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #b83c3c;
    color: white;
    padding: 14px 20px;
    border-radius: 8px;
    opacity: 0;
    transform: translateY(-20px);
    transition: .3s;
}

#toast-erro.show {
    opacity: 1;
    transform: translateY(0);
}

/*TOAST DE SUCESSO*/
#toast-sucesso {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #0e860a;
    color: white;
    padding: 14px 20px;
    border-radius: 8px;
    opacity: 0;
    transform: translateY(-20px);
    transition: .3s;
}

#toast-sucesso.show {
    opacity: 1;
    transform: translateY(0);
}

/*CARDS*/
.cards{
    max-width:1200px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:25px;
}

.card{
    background:#1b1f2b;
    border:1px solid #2b3244;
    border-radius:16px;
    padding:30px;
    text-decoration:none;
    color:white;
    transition:.25s;
    resize: none;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
}

.card:hover{
    transform:translateY(-8px);
    border-color:#d9b96f;
    box-shadow:0 15px 30px rgba(0,0,0,.4);
}

.card h2{
    margin-bottom:15px;
    color:#d9b96f;
}

.card span{
    color:#b5b5b5;
    line-height:1.6;
}

/*MODAL*/
.modal{
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    justify-content: center;
    align-items: center;
}

.modal.show{
    display: flex;
}

/*CONTEUDO DO MODAL*/
.conteudo-modal{
    background: #1b1f2b;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #2b3244;
    transition: .25s;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.conteudo-modal h2{
    font-family: 'Cinzel', serif;
    font-size: 34px;
    letter-spacing: 4px;
    margin-bottom: 25px;
    color: #d9b96f;
    display: flex;
    justify-content: center;
}

.btn-conteudo-modal{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.btn-conteudo-modal button{
    padding: 8px;
    color: #b5b5b5;
    background: #1b1f2b;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    border:1px solid #2b3244;
    cursor: pointer;
    transition:.25s;
    width: auto;
    height: auto;
}

.btn-conteudo-modal button:hover{
    transform:translateY(-2px);
    border-color:#d9b96f;
    box-shadow:0 15px 30px rgba(0,0,0,.4);
    color: white;
}

/*INPUTS*/
.input-group{
    width:100%;
    margin-bottom:20px;
}

.input-group label{
    display:block;
    margin-bottom:8px;
    color:#cfcfcf;
    font-size:14px;
    font-weight:500;
    font-family:'Inter',sans-serif;
}

.input-group input,
.conteudo-modal textarea{
    width:100%;
    box-sizing:border-box;
    padding:12px 14px;
    font-size:15px;
    font-family:'Inter',sans-serif;
    color:#fff;
    background:#434355;
    border:1px solid #2b3244;
    border-radius:8px;
    outline:none;
    transition:.2s;
}

.input-group input::placeholder,
.conteudo-modal textarea::placeholder{
    color:#8d8d98;
}

.input-group input:hover,
.conteudo-modal textarea:hover{
    border-color:#505a73;
}

.input-group input:focus,
.conteudo-modal textarea:focus{
    border-color:#d9b96f;
}

.input-group input[type='number']::-webkit-outer-spin-button,
.input-group input[type='number']::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.input-group input[type='number']{
    -moz-appearance: textfield;
    appearance: textfield;
}

.duplas-modal{
    display: flex;
    gap: 16px;
}

.duplas-modal .input-group{
    flex: 1;
}

/*RADIO GROUP*/
.radio-group{
    display:flex;
    gap:25px;
    margin-bottom: 15px;
}

.radio-group input{
    display:none;
}

.radio-option{
    display:flex;
    align-items:center;
    gap:6px;

    cursor:pointer;
    user-select:none;

    color:#9b9b9b;
    transition:.2s;
}

.radio-option .material-symbols-outlined{
    font-size:24px;
    transition:.2s;
}

.radio-option:hover{
    color:#ffffff;
}

.radio-group input:checked + .radio-option{
    color: #ffffffc9;
}

.radio-group input:checked + .radio-option .material-symbols-outlined{
    font-variation-settings: 'FILL' 1;
}